// COLORS
$color-gray: #b6bbbb;
$color-light-gray: #cfd2d2;
$muted-sky: #e7f1f4;
$regal-color: #2a4c54;
$bright-blue: #c1d7df;
$sky: #cee4ea;

// FONT
$title-letter-spacing: 2rem;
$textbox-letter-spacing: 0.3rem;
$box-font-size: 6.5rem;
$small-text-size: 5rem;

// LAYOUT
$grid-width: 90vw;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
